{% extends 'base.html' %}

{% block title %}
Информация
{% endblock %}

{% block body %}
<div class="asdqwe">
    <h3>О нас:</h3>
    <div class="pilsh">
        <h3>Пильщиков Илья Михайлович</h3>
        <span class="Ya">
            <img src="/static/img/Ya.jpg">
        </span>
        <div>
            <h4><p>Привет, меня зовут Илья, я учусь в университете "Бгиту"</p>
                <p>Мне 19 лет, при создании сайта я загорелся идеей создать</p>
                <p>сайт, посвящённый крупнейшему киберспортивному турниру</p>
                <p>"The International". Этот сайт является воплощением моей</p>
                <p>задумки</p></h4>
        </div>
    </div>
    <div class="makarc">
        <h3>Макарцев Николай Андреевич</h3>
        <span class="kolya">
            <img src="/static/img/kolya.jpg">
        </span>
        <div>
        <h4><p>Привет, меня зовут Николай, я учусь в университете "Бгиту"</p>
                <p>Мне 19 лет, при создании сайта я загорелся идеей создать</p>
                <p>сайт, посвящённый крупнейшему киберспортивному турниру</p>
                <p>"The International". Этот сайт является воплощением нашей</p>
                <p> общей задумки с Ильей</p></h4>
        </div>
    </div>
</div>
{% endblock %}